.flash-box testflashbox
.wrapper
  .chat-side
    .side-header
      %p.side-header__username test
      %ul.side-lists
        %li.lists
          = link_to 'http://google.co.jp' do
            %i.fa.fa-cog  
        %li.lists
          = link_to 'http://google.co.jp' do
            %i.fa.fa-edit
    .side-body
      .groups
        = render "group"  
  .chat-main
    .main-header
      .current-group
        %h2.current-group__name testgroup
        %ul.member-list
          %li
            Member：
          %li
            testmember1
          %li
            testmember2
        = link_to 'http://google.co.jp' do
          .main-header__edit-btn Edit
    .border-line
    .messages
      = render "message"
    .form
      %form.new-message(action="/groups/:id/messages")
        %input(placeholder="  type a message")/
        %label.image-label(for="message_image")
          %i.fa.fa-image
      %input.new-message__submit-btn{type: "submit", name: "comit", value: "Send"}/
      